src/notas0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="notas">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nota" minOccurs="1" maxOccurs="unbounded">
         <xs:complexType>
          <xs:sequence>
            <xs:element name="para" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="de" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="titulo" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="contenido" type="xs:string" minOccurs="1" maxOccurs="1"/>
          </xs:sequence>
         </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>